<h1>Create a Build</h1>

<form>
  <md-autocomplete
      md-selected-item="selectedItem"
      md-search-text = "searchText"
      md-items="item in querySearch(searchText)"
      md-item-text="item.name"
      md-selected-item-change="selectedItemChange(item)"
      placeholder="Add an Item">
    <md-item-template>
      <span md-highlight-text="buildCtrl.searchText" md-highlight-flags="^i">{{item.name}}</span>
    </md-item-template>
    <md-not-found>
      No items matching "{{buildCtrl.searchText}}" were found.
      <a ng-click="buildCtrl.newItem(buildCtrl.searchText)">Create a new one!</a>
    </md-not-found>
  </md-autocomplete>
</form>

<div class="row">
  <div class="large-8 columns clearfix">
    <span>{{selectedItem.name}}</span>
    <button class="button" ng-click="addItem()">Add</button>
    <button class="button alert" ng-click="removeItem()">Remove</button>
    <button class="button success" ng-click="calculateBuild()">GO!</button>
    <button class="button alert" ng-click="clearBuild()">Clear Build</button>
  </div>
</div>

<div>
  <ul>
    <li ng-repeat="(item, quantity) in getBuild()">{{quantity}}x {{item}}</li>
  </ul>
</div>

<div>
  <ul>
    <li ng-repeat="(item, quantity) in buildItems.required">{{quantity}}x {{item}}</li>
  </ul>
</div>

<div>
  <ul>
    <li ng-repeat="(item, quantity) in buildItems.leftover">{{quantity}}x {{item}}</li>
  </ul>
</div>
